<p id="notice"><%= notice %></p>
<%= params[:example_key].to_i * 10 %>
<%= link_to(image_tag("cobweb.svg", :class => "my-before-landing-image", :id => "mySpin"), simple_pages_landing_page_path, class: "my-before-landing")%>
