<%# myProduct = @featured_product  %>
<h1>Home of the best cobwebs</h1>
<h2>Featured Product:</h2>
<%= render partial: 'shared/my-product-card', locals: {myProduct: @featured_product, includeButtons: false} %>
