/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

$myGray1: #f8f9fa;

* {
  margin:0;
  padding:0;
}

html {
  height:100%;
}

body {
  height:100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #DDD;
  margin: 0;
  background-image: image-url("cobweb-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-color: rgba(0,0,0,0.95);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}

h1, h2, h3 {
  font-family: "Courier New", Courier, monospace;
  text-shadow:
  0 -1px 1px blue,
  0 0 10px white;
}

h1, h2 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h3 {
  font-size: 16px;
}

.my-right {
  float: right;
}

.my-center {
  text-align: center;
}

.my-main-content {
  padding: 1em 1em 40px 1em;
}

.my-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.66em;
  color: #AAAAAA;
  background-color: $myGray1;
  padding: 1em 0 0 0;
  text-align: center;
}

.my-float-clearer {
  clear: left;
}

a:hover {
  color: inherit;
  background-color: inherit;
  font-weight: bold;
  text-decoration: none;
}
