// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$myGray1: #f8f9fa;

.my-products {
  padding-bottom: 2em;
}

.my-card {
  float:none;
  vertical-align: top;
  display: inline-block;
  width: 20rem;
  height: 26rem;
  border-width: 3px;
  border-color: $myGray1;
  padding: 1em;
  margin: 1em;
  color: #333333;
}

.tooltip-inner {
   text-align: left;
}

.my-product-image {
  height: 175px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.my-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.my-new-product-btn {
  padding-top: 2em;
  padding-bottom: 2em;
}

.my-nav-buttons {
  padding: 2em 0 0 0;
  text-align: left;
}

.my-form {
  display: inline-block;
 }

#myNewProductBtn {
  margin-bottom: 1em;
}

#myFormSubmitBtn {
  margin: 1em;
}

#myTableWrapper {
  height: 10rem;
  overflow-y: scroll;
  border: 3px solid $myGray1;
  border-radius: .25rem;
  padding: 0.5em;
  margin: 0 0 2em 0;
}

.my-table, td, th {
  padding: 0 1em 0 0;
}

#showProductImage {
  display: inline-block;
  border: 1px solid white;
  margin-bottom: 1em;
}
