.my-col-wrapper {
  width: 100%;
}

.my-columns {
  width: 33.333%;
  float: left;
  padding-right: 1em;
}

@media only screen and (max-width: 600px) {
    .my-columns {
      width: 100%;
      padding-top: 1em;
    }
}

.my-image {
  width: 100%;
  height: auto;
}
