// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#myUsersTable {
  margin-bottom: 2em;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 5px;
}

#myUserOrdersList {
  display:inline-block;
}

.my-delete-account {
  margin-top: 3em;
  border: 3px dashed red;
}

.my-orders-list {
  padding: 0.3em;
}
